@charset "utf-8";
/* CSS Document */
a{
	text-decoration:none;
	cursor:pointer;
}
#exit{
	border:1px silver solid;
	margin-top:410px;
	width:120px;
	height:30px;
	text-align:center;
}
#volver{
		border:1px silver solid;
	width:120px;
	height:30px;
	text-align:center;
	margin-top:2px;
	}
