@charset "utf-8";
/* CSS Document */
body, html{
	margin:0;
	padding:0;
	width:100%;
	height:100%;
}
a{
	text-decoration:none;
}
#link{
	text-decoration:none;
	
}
#lista{
	list-style-type:none;
	margin:0;
	position:relative;
	width:100%;
	height:auto;
	/*min-height:40px;*/
	background-color:#22313f;
	color:white;
	box-sizing:border-box;
	
}
#elemento{
		display:inline-block;
		cursor:pointer;
		font-size:18px;
		height:40px;
		width:10%;
		position:relative;
		font-family:calibri;
		font-weight:bold;
		text-align:center;
		padding-top:0.6%;
		transition:all 0.2s;
		color:white;
		box-sizing:border-box;
		min-width:150px;
}
.user{
		display:inline-block;
		cursor:pointer;
		font-size:18px;
		font-family:calibri;
		height:40px;
		width:10%;
		min-width:150px;
		font-weight:bold;
		text-align:center;
		padding-top:0.6%;
		transition:all 0.2s;
		color:white;
		box-sizing:border-box;
		position:absolute;
		right:5%;
}
@media only screen and (max-width:799px){
	.user{
		position:relative;
		right:auto;
		}
}
#elemento:hover{
	background:white;
	color:black;
}

.user:hover{
	background:white;
	color:black;
}

