@charset "utf-8";
/* CSS Document */
body, html{
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	box-sizing:border-box;
	background-color:#7f8c8d;
}
p{
	margin:0;
	padding:0;
}
#contenedor{
	width:95%;
	height:auto;
	box-sizing:border-box;
	margin-top:10px;
	background-color:#E6E6E6;
	border-radius:5px;
	margin-left:auto;
	margin-right:auto;
	resize:none;
	min-height:90%;
}
#listamodulos{
	margin:0;
	padding:0;
	height:auto;
	width:100%;
	
}
#modulos{
	width:250px;
	height:150px;
	border:1px silver solid;
	display:inline-block;
	box-sizing:border-box;
	margin-left:4%;
	margin-top:30px;
	margin-bottom:30px;
	text-align:center;
	list-style:none;
	background-image:url(file:///C|/AppServ/www/Farmacia/imagenes/doblegrado.jpg);
	}
	.nombremodulos{
		color:black;
		font-weight:bold;
		font-family:Verdana, Geneva, sans-serif;
	}
	#subconte{
		margin-top:20px;
		border:1px silver solid; #ecf0f1;
		background:white;
		width:100%;
		height:auto;
		min-height:70%;
		box-sizing:border-box;
		
	}
	#welcome{
		font-size:20px;
		font-family:Verdana, Geneva, sans-serif;
		padding-top:20px;
		margin-left:20px;
		color:#3A3A3A;
	}
	.imagen_modulo{
		width:100px;
		height:100px;
		margin-left:auto;
		margin-right:auto;
		background-size:cover;
	}