@charset "utf-8";
/* CSS Document */
html, body{
	margin:0;
	padding:0;
	height:100%;
	width:100%;
	box-sizing:border-box;
}
#contenedor-padre{
margin-left:100px;
}

#empleados{
float:left;
height:40px;
width:200px;
border:1px silver solid;
box-sizing:border-box;
margin:0;
padding:0;
text-align:center;
margin-top:2px;
}
#empleado{
float:left;
height:40px;
width:200px;
border:1px silver solid;
box-sizing:border-box;
margin:0;
padding:0;
text-align:center;
margin-top:2px;
}

#content{
width:1025px;
max-height:400px;
border:1px black solid;
box-sizing:border-box;
overflow:scroll;
margin:0;
padding:0;
position:absolute;
}
#tags{
	display:inline-block;
	width:200px;
	height:40px;
	text-align:center;
	font-size:16px;
	font-family:calibri;
	font-weight:bold;
}
#encabezado{
	list-style-type:none;
	margin:0;
	padding:0;
	box-sizing:border-box;
	height:20px;
	border:1px silver solid;
	width:620px;
	margin-top:50px;
}
#encabezadobuscar{
	width:900px;
	list-style-type:none;
	margin:0;
	padding:0;
	box-sizing:border-box;
	height:20px;
	border:1px silver solid;
	margin-top:50px;
}
a{
	text-decoration:none;
	font-family:calibri;
	font-size:18px;
	color:#333;
	font-weight:bold;
}
#boton{
	margin:0;
	position:absolute;
	margin-top:520px;
	margin-left:-600px;
	font-family:calibri;
	font-size:18px;
	color:#333;
	font-weight:bold;
}
#nav2 div{
	float:left;
	margin-top:1%;
}
#registrar{
	border:1px silver solid;
	height:40px;
	text-align:center;
	padding-top:5px;
	box-sizing:border-box;
	width:200px;
}
#buscar{
	margin-left:5%;
}