@charset "utf-8";
/* CSS Document */
html,body{
	margin:0;
	padding:0;
	height:100%;
	width:100%;
}
a{
	text-decoration:none;
	color:white;
	height:100%;
	width:100%;
	transition:all 0.2s;
}
ul{
	list-style-type:none;
	margin:0;
	position:fixed;
	width:100%;
	height:40px;
	background-color:#151515;
	color:white;
	box-sizing:border-box;
}
li{
		display:inline-block;
		cursor:pointer;
		font-size:13px;
		font-family:Georgia, "Times New Roman", Times, serif;
		height:40px;
		width:10%;
		font-weight:bold;
		text-align:center;
		padding-top:0.6%;
		margin-left:-0.3%;
		transition:all 0.2s;
		color:white;
}
li:hover{
	background:white;
}
li:hover a{
	color:black;
}
.user{
	margin-left:45%;
}